// @import "index.scss";
@import "../sass/pages/home.scss";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";

@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/mixins";

// 2. Vendors
@import "vendors/normalize";

// 3. Base stuff
@import "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header";
@import "layout/footer";

// 5. Components
@import "components/button";

// 6. Page-specific styles
@import "pages/home";
@import "pages/homepage";

// 7. Themes
@import "themes/default";

@import "https://fonts.googleapis.com/icon?family=Material+Icons";



body {
  color:#222;
  background-color: #fff;
}




// DEV

.homeplant{
  background-color: #f2f2ea;
  height: 100vh;
}















.plantground__bas{

}

.footer__container {
  @include container();
}

.header__container {
  @include container();
}

.container {
  @include container();
}
.container-fluid {
  width: 100%;
  clear: both;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.bg-grey {
  // background-color: #eeeeff;
  height: 200px;
}
.bas {
  background-color: #eee;
}
.main-menu {
  display: inline-block;
  list-style: none;
}

.products__container {
  @include container();
}
.product-single__container {
  @include container();
}

.product-single__bg {
  //  background-color: #ebedee;
}

.search__container {
  @include container();
  margin-top: 55px;
  margin-bottom: 55px;
}

.material-icons {
  font-size: 16px;
}



.related.products {
  display: none;
}

.logo {
  font-size: 15px;
  padding: 8px;
  width: 100px;
  color: #fff;
  margin-top: 10px;
  & a {
    color: #222;
  }
}

// overrides

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  background-color: #fff;
  padding: 8px;
  font-size: 1em;
  margin: 0px;
}

.woocommerce ul.products li.product .price {
  display: block;
  font-weight: 400;
  padding: 8px;
font-size: 11px;
margin: 0px;
background-color: #fff;
}





.product_type_simple {
  display: none !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin: 4px 4px 4px 4px;
}

.single-product .product_meta {
  display: none;
}

.input-text {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #cccccc;
  height: 3.5em;
  line-height: 1.5;
  font-size: 1em;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}


.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
}
.button[name="apply_coupon"] {
  background-color: transparent;
  color: #13aff0;
}

.button[name="apply_coupon"]:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #13aff0;
}

.button[name="update_cart"] {
  background-color: #e2e2e2;
  color: #13aff0;
}

.button[name="update_cart"]:hover {
  background-color: #e2e2e2;
  color: #13aff0;
  filter: brightness(115%);
}

.woocommerce ul.products li.product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 1em;
  box-shadow: none;
  // background-color: #ebeff1;
}

.woocommerce div.product div.images img {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
  background-color: #ebeff1;
}

.woocommerce.columns-3 ul.products li.product {
  width: 33.3%;
  border: 1px solid #fff;
  text-align: left;
}
ul.products li.product .woocommerce-LoopProduct-link, ul.products .wc-block-grid__product .woocommerce-LoopProduct-link, .wc-block-grid__products li.product .woocommerce-LoopProduct-link, .wc-block-grid__products .wc-block-grid__product .woocommerce-LoopProduct-link {

  width: 100%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin:0px
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
  background-color: #ebeff1;
}

.woocommerce ul.products li.product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto 20px auto;
}

.storefront-handheld-footer-bar{
  display: none;
}

a:focus,
.focus a {
	outline: none !important;
}


@media (min-width: 768px){
.page-template-template-fullwidth-php .site-main ul.products.columns-3 li.product, .page-template-template-fullwidth-php .header-widget-region ul.products.columns-3 li.product, .page-template-template-homepage-php .site-main ul.products.columns-3 li.product, .page-template-template-homepage-php .header-widget-region ul.products.columns-3 li.product, .storefront-full-width-content .site-main ul.products.columns-3 li.product, .storefront-full-width-content .header-widget-region ul.products.columns-3 li.product {
    width: 24.8%!important;
margin-right: 1px!important;
}
}



@media (min-width: 776px) {
  .woocommerce-cart .woocommerce {
    display: flex;
  }
  .woocommerce-cart .woocommerce-cart-form {
    flex: 60%;
    margin-right: 30px;
  }
  .woocommerce-cart .cart-collaterals {
    flex: 40%;
  }

  
}

@media (max-width: 776px) {
 
  .woocommerce.columns-3 ul.products li.product {
    border: 0px solid #fff;
}
.container{
  @include container();
}
  .woocommerce.columns-3 ul.products li.product {
    width: 50%;
    display: inline-flex;
  }
  .woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
    background-color: #ebeff1;
    margin-left: -2px!important;
}
}
@media (max-width: 430px){
.woocommerce.columns-3 ul.products li.product {
    width: 50%;
    display: inline-flex;
}
}


@media (max-width: 298px) {

  .woocommerce.columns-3 ul.products li.product {
    width: 100%;
    display: inline-flex;

  }
}
