@import 'index.scss';
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';

@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/mixins';

// 2. Vendors
@import 'vendors/normalize';

// 3. Base stuff
@import 'base/fonts', 'base/typography', 'base/helpers';

// 4. Layout-related sections
@import 'layout/header', 'layout/footer';

// 5. Components
@import 'components/button';

// 6. Page-specific styles
@import 'pages/home';

// 7. Themes
@import 'themes/default';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$test: #fff;

body {
  background-color: $test;
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
}

.footer__container {
  @include container();
}

.header__container {
  @include container();
}

.container {
  @include container();
}
.container-fluid {
  width: 100%;
  clear: both;
}

.bg-grey{
background-color: #eeeeff;
height: 200px;
}
.bas{
  background-color: #eee;
}
.main-menu{
display: inline-block;
}

.products__container {
  @include container();
}
.product-single__container {
  @include container();
}

.product-single__bg {
 background-color: #ebedee;
}

.search__container {
  @include container();
  margin-top: 55px;
  margin-bottom: 55px;
}



.welcome {
  width: 100%;
  height: 300px;
  background-color: #222;
  &__img {
    max-height: 400px;
  }
}

@media (max-width: 525px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products {
    width: 100% !important;
    float: none !important;
  }
}

.related.products {
  display: none;
}

.logo{
  font-size: 14px;
}


// overrides

.product_type_simple {
  display: none!important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin: 4px 4px 4px 4px;
}

.single-product .product_meta {
  display: none;
}

.woocommerce.columns-3 ul.products li.product {
  width: 32.8%;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin: 1px 1px 1px 1px;
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: 24.8%;
}





 .input-text { 
  border-radius: 2px; 
  background-color: #fff;
  border:1px solid #cccccc ;
  height: 3.5em;
  line-height: 1.5;
  font-size: 1em;
  padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
 }


 @media(min-width: 776px) {
  .woocommerce-cart .woocommerce {
    display: flex;
  }
  .woocommerce-cart .woocommerce-cart-form {
    flex: 60%;
    margin-right: 30px;
  }    
  .woocommerce-cart .cart-collaterals {
    flex: 40%;

  }
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {

  width: 100%;

}
.button[name="apply_coupon"] {
  background-color: transparent;
  color: #13aff0;
}

.button[name="apply_coupon"]:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #13aff0;
}

.button[name="update_cart"] {
  background-color: #e2e2e2;
  color: #13aff0;
}

.button[name="update_cart"]:hover {
  background-color: #e2e2e2;
  color: #13aff0;
  filter: brightness(115%);
}