// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------





.hp-img
{
    max-width: 420px;
    margin: auto;
    margin-top: 100px;
display: block;
text-align: center;
font-size: 14px;
}




.hp-welcome{
    width: 100%;

    border-bottom: 1px solid #999;
    height: 420px
}